{% extends "tradeweb/layout.html" %}

{% block body %}
    {% load static %}

    <div class="container-fluid ">
        <div class="row justify-content-center" style="padding-top: 15px">
{#            搜索栏#}
            <div class="pc_search">
                <img class="logo" src="{% static 'img/logo.png' %}" >
                <div class="search">
                    <div class="search-border">
                        <form action="#" method="post">
                            <span class="text-wrap">
                                <input type="text" class="text" name="key" >
                            </span>
                            <input type="submit" class="submit" value="搜索">
                        </form>
                    </div>
                    <div class="search-links">
                        <a style="color: red" href="#">耳机</a>
                        <a href="#">内衣</a>
                        <a href="#">袜子</a>
                        <a href="#">书籍</a>
                        <a href="#">电脑</a>
                        <a href="#">篮球</a>
                        <a href="#">垃圾袋</a>
                    </div>
                </div>
            </div>
{#            商品展示#}
            <div class="col-md-8 border" style="padding-top: 10px">
                <div class="container-fluid">
                    <ul class="list list-unstyled">
                        {% for good in goods %}
                            <a href="{% url 'details' good.goodID %}">
                                <img style="object-fit: cover; width: 150px; height: 150px"#}
                                     src="{{ MEDIA_URL }}{{ good.goodImg }} ">
                                <div style="font-weight: bold; color: #0f0f0f;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ good.goodName }}</div>
                                <div>price</div>
                            </a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}