{% extends "tradeweb/layout.html" %}
{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 border " style="padding: 2px 5px;height: 600px">
                            <ul class="list-unstyled">
                                <li>
                                    <div style="height: 50px">
                                        xxxx
                                    </div>
                                </li>
                                <li>
                                    <div style="height: 50px">
                                        xxxx
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-8 border" style="padding: 2px">
                            消息
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}